ion-content ion-toolbar {
  --background: translucent;
}



*{
  padding: 0;
  margin: 0 auto;
}




h1{
  text-align: center;

}


.settings__h1{
  padding: 40.26px 0px;
}


.individual__setting{
  text-align: center;
}

.individual__setting_Recess{
  transition: background-color 1s ease;
  background-color: #1CD98A;
}

.individual__setting_SignOut{
  transition: background-color 1s ease;
  background-color: #1BCC82;
}

.individual__setting_bridge{
  transition: background-color 1s ease;
  background-color: #19c27c;
}

.individual__setting_state{
  transition: background-color 1s ease;
  background-color: #17B372;
}


.individual__setting p{
  padding: 40.26px 0px;
  font-size: 20px;
}

.white__bg{

  transition: background-color 1s ease;
  background-color: white;

}
